<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gastosapp">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".core.GastosApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GastosApp">

        <receiver
            android:name=".features.reminders.receiver.ReminderReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".core.util.GastosFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".features.auth.presentation.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.auth.presentation.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".features.auth.presentation.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".features.expenses.presentation.DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".features.expenses.presentation.ExpensesListActivity"
            android:exported="false" />

        <activity
            android:name=".features.expenses.presentation.AddExpenseActivity"
            android:exported="false" />

        <activity
            android:name=".features.expenses.presentation.ExpenseDetailActivity"
            android:exported="false" />

        <activity
            android:name=".features.profile.presentation.ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".features.analytics.presentation.AnalyticsActivity"
            android:exported="false" />

        <activity
            android:name=".features.analytics.presentation.BudgetActivity"
            android:exported="false" />

        <activity
            android:name=".features.reminders.presentation.RemindersActivity"
            android:exported="false" />


    </application>

</manifest>
